.resident_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.title {
    color: white;
    padding: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search{
    margin-bottom: 16px;
}